/* 
  Portfolio CSS 
  author: Peter Buk
*/

@charset "utf-8";

@font-face {
  font-family: "Gotham";
  font-weight: 400;
  src: url("../font/Gotham-Book.otf");
}
@font-face {
  font-family: "Gotham";
  font-style: italic;
  font-weight: 400;
  src: url("../font/Gotham-BookIta.otf");
}
@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: url("../font/Gotham-Bold.otf");
}
@font-face {
  font-family: "Effra";
  font-weight: 300;
  src: url("../font/Effra-Light.otf");
}
@font-face {
  font-family: "Effra";
  font-weight: 500;
  src: url("../font/Effra-Medium.otf");
}

/************************ 
HTML and main Body Styles 
************************/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, p, ul, body {
	margin: 0;
	padding: 0;
}

body {
	overflow: auto;
  color: #595959;
}

main {
  min-width: 940px;
  width: 60vw;
  max-width: 1200px;

  position: relative;
  margin: 0 auto;
}

#wrapper, header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(50px, auto);
  column-gap: 20px;
}

/* create extra space between rows */
.frontPageSpacer {
  row-gap: 8rem;
}

header {
  margin-bottom: 2rem;
}

footer {
  grid-column: span 12;
  justify-content: flex-end;

  margin: 1rem 0;
}




/**************
	Layout
**************/

section {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  margin: 0 0 2rem;
}
section *:last-child {
  margin-bottom: 0;
}


/* 
  Layout Components
  full - use up entire space
  right8 - right aligned block
  imageDup/Trio - full sized image block

*/

.full {
  grid-column: span 12;
  margin: 0 0 1.6rem;
}
.imageDuo {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin: 0 0 1.6rem;
}
.imageTrio {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  margin: 0 0 2rem;
}


/* spanX are generic, rightX are right aligned to a 12-col grid */
.span5 {
  grid-column: span 5;
}
.span4 {
  grid-column: span 4;
}
.right7 {
  grid-column: 6 / 13;
}
.right8 {
  grid-column: 5 / 13;
  margin: 0 0 1.6rem;
}





.overviewBlock {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 20px;
  margin: 0;
}

.sectionCenter {
  align-items: center;
}


/**************
	Typography
**************/

h1, h2 {
  font-family: "Effra", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

/* so far unused */
h3 {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 1rem 0 0;
}

p {
  font-family: "Gotham", sans-serif;
  line-height: 1.8rem;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

figcaption {
  font-family: "Gotham", sans-serif;
  font-size: 0.8rem;
  text-align: center;
}

.aboutTLDR {
  margin: 0;
}

.overviewText {
  font-family: "Effra", sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
}

.subtext {
  font-style: italic;
}

.textCenter {
  text-align: center;
}


/**************
	Custom Blocks
**************/

.cta {
  font-family: "Effra", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;

  display: inline-flex;
  align-items: center;
  border: 1px solid #595959;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  color: #595959;
  cursor: pointer;
  text-align: center;
}

.roleBlock {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #aaa;

  position: relative;
  display: inline-block;
  /* border: 1px solid #666; */
  border-radius: 5%;
  border-left: 2px solid rgba(201, 201, 201, 0.6);
  border-right: 2px solid rgba(201, 201, 201, 0.6);
  padding: 0.625rem;
}

.sectionBlock {
  background-color: #FFE4C7;
  padding: 3rem 14.7% 1rem;
  width: 126%;
  position: relative;
  left: -14.7%;
}

#outlineBlock {
  top: 50%;
  left: 5%;
  position: fixed;
  background-color: #FFE4C7;
  padding: 1rem 1rem 1rem 3rem;
  z-index: -10;
}
#outlineBlock ul {
  list-style: none;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5rem;
}


/**************
	Header
**************/

/* header layout */
#logoContainer {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  margin-top: 3rem;
}
#navbar {
  grid-row: 1 / 2;
  grid-column: 11 / 13;
  margin-top: 3rem;
}
#logo {
  width: 20rem;
}

nav ul {   
  display: flex;
  justify-content: space-between;
	list-style: none;
}
nav li {
  display: inline-block;
  padding: 1.7rem 0 0.3rem;
  font-family: Gotham, sans-serif;
  font-weight: 400;
  text-align: right;
  font-size: 1.2rem;
	color: #fff;
  cursor: pointer;
}
nav ul li a:hover {
  color: rgb(165, 165, 165);
  transition: all 300ms ease;
} 

.activePage {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #595959;
}

/**************
	Sections
**************/

.leftText {
  padding-right: 3rem;
}

.rightText {
  text-align: right;
  font-weight: 300;
  font-size: 1rem;
}

/**************
	Images
**************/

img {
  width: 100%;
}

figure {
  margin: 0;
}

#profile {
  margin-bottom: 2rem;
}

.icon {
  width: 1.5rem;
  margin-top: 0.625rem;
  margin-right: 1.5rem;
}

.arrow {
  width: 1.2rem;
  margin-left: 0.4rem;
}

.imgBorder {
  border: 1px solid #aaa;
}

.inlineImage {
  margin-bottom: 1rem;
}

