/* 
  Portfolio CSS 
  author: Peter Buk
*/

@charset "utf-8";

@font-face {
  font-family: "Gotham"; font-weight: 400; src: url("../font/Gotham-Book.otf");
}
@font-face {
  font-family: "Gotham"; font-style: italic; font-weight: 400; src: url("../font/Gotham-BookIta.otf");
}
@font-face {
  font-family: "Gotham"; font-weight: 700; src: url("../font/Gotham-Bold.otf");
}
@font-face {
  font-family: "Effra"; font-weight: 300; src: url("../font/Effra-Light.otf");
}
@font-face {
  font-family: "Effra"; font-weight: 500; src: url("../font/Effra-Medium.otf");
}

/************************ 
HTML and main Body Styles 
************************/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


h1, h2, h3, p, ul, body {
	margin: 0;
	padding: 0;
}

body {
  color: #595959;
  width: 100%;
}

main {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

footer {
  width: 60vw;
  margin: 3rem auto;
  justify-content: flex-end;
}

hr {
  opacity: 0.5;
}


/**************
	Colors
**************/

.orange {
  background-color: rgb(255, 228, 199);
}
.orange-lite {
  background-color: rgba(255, 228, 199, 0.6);
}
.blue {
  background-color: #87CDFF;
}
.blue-lite {
  background-color: rgba(135, 205, 255, 0.6);
}



/**************
	Layout
**************/

section {
  margin: 0 0 4rem;
}
section *:last-child {
  margin-bottom: 0;
}


/* vw block layouts */
.block100, .block80, .block60, .block40 {
  margin: 0 auto 2rem;
}
.block100 {
  width: 100vw;
  max-width:100%;
}
.block80 {
  width: 80vw;
}
.block60 {
  width: 60vw;
}
.block40 {
  width: 40vw;
}


/* image blocks */
.imageDuo {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
.imageTrio {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}


/* case study overview blocks */
.overviewBlock {
  display: flex;
}
.halfBlock {
  width: 50%;
}
.thirdBlock {
  width: 33.3%;
}
.twoThirdBlock {
  width: 64%;
  padding-right: 2.66%;
}


/* main page blocks */
.blockFlex {
  display: flex; 
  margin-bottom: 8rem;
}
.flexCenter {
  align-items: center;
}
.blockFlex:last-child {
  margin-bottom: 0;
}


/* about page blocks */
.left40 {
  width: 40%;
}
.right60 {
  width: 60%;
}





/**************
	Typography
**************/

h1, h2 {
  font-family: "Effra", sans-serif;
  font-weight: 500;
}

h3, h4, p, figcaption {
  font-family: "Gotham", sans-serif;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 400;
  font-size: 1.2rem;
}

h4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 1rem 0 0;
}

p {
  line-height: 1.8rem;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

figcaption {
  font-size: 0.8rem;
  text-align: center;
}

.aboutTLDR {
  margin: 0;
}

.overviewText {
  font-family: "Effra", sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
  margin-bottom: 1.6rem;
}

.subtext {
  font-style: italic;
  margin-bottom: 1.6rem;
}

.textCenter {
  text-align: center;
}


/**************
	Custom Blocks
**************/

.mainPageDivider {
  margin-bottom: 8rem;
}

.cta {
  font-family: "Effra", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;

  display: inline-flex;
  align-items: center;
  border: 1px solid #595959;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  color: #595959;
  cursor: pointer;
  text-align: center;
}

/* about page: list of roles */
.roleBlock {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #aaa;
  line-height: 1.2rem;

  position: relative;
  display: inline-block;
  /* border: 1px solid #666; */
  border-radius: 5%;
  border-left: 2px solid rgba(201, 201, 201, 0.6);
  border-right: 2px solid rgba(201, 201, 201, 0.6);
  padding: 0.625rem;
}

/* large separated full-width header block */
.sectionBlock {
  padding: 6rem 30vw;
  margin-bottom: 4rem;
  z-index: 5;
}

/* floating ToC */
#outlineBlock {
  top: 10%;
  left: 0%;
  position: fixed;
  padding: 1rem 1rem 1rem 2rem;
  z-index: 1;

  display: none;
}

#outlineBlock li {
  list-style: none;
  font-family: "Gotham", sans-serif;
  line-height: 1.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  padding-left: 16px;
}

#outlineBlock li.active {
  /* list-style-image: url("../img/icons/tri-selector.svg"); */
  background-image: url("../img/icons/tri-selector.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 10px;
  padding-left: 16px;

  font-weight: 700;
}
#outlineBlock li.hover {
  font-weight: 700;
}

.outlineLabel {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}


.nextProject {
  display: flex;
  justify-content: flex-end;
}
.nextProjectLabel {
  display: block;
  font-family: "Effra", sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.nextProjectLink {
  display: flex;
  align-items: center;
}
.nextProjectLink h2 {
  margin-bottom: 0;
}
.arrowNextProject {
  width: 2rem;
  margin-left: 0.4rem;
}


/* Progress Bar */
progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;

  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;

  -webkit-transition : all 0.1s ease-in-out;
   -moz-transition : all 0.1s ease-in-out;
     -o-transition : all 0.1s ease-in-out;
        transition : all 0.1s ease-in-out;

  z-index: 10;
}
progress::-webkit-progress-bar {
	background-color: transparent;
}

#progressBarOrange {
  color: #FFCE8F;
}
#progressBarOrange::-webkit-progress-value {
	background-color: #FFCE8F;
}
#progressBarOrange::-moz-progress-bar {
	background-color: #FFCE8F;
}

#progressBarBlue {
  color: #87CDFF;
}
#progressBarBlue::-webkit-progress-value {
	background-color: #87CDFF;
}
#progressBarBlue::-moz-progress-bar {
	background-color: #87CDFF;
}


/**************
	Header
**************/

/* header layout */
header {
  width: 60vw;
  margin: 3rem auto;

  display: flex;
  justify-content: space-between;
}

#logo {
  width: 20rem;
}

nav ul {   
  display: flex;
  justify-content: space-between;
	list-style: none;
}
nav li {
  display: inline-block;
  padding: 1.7rem 2rem 0.3rem;
  font-family: Gotham, sans-serif;
  font-weight: 400;
  text-align: right;
  font-size: 1.2rem;
	color: #fff;
  cursor: pointer;
}
nav li:last-child {
  padding-right: 0;
}
nav ul li a:hover {
  color: rgb(165, 165, 165);
  transition: all 300ms ease;
} 

.activePage {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #595959;
}

/**************
	Special text
**************/

.leftText {
  padding-right: 3rem;
  margin-bottom: 1.6rem;
}

.rightText {
  text-align: right;
  font-weight: 300;
  font-size: 1rem;
}

/**************
	Images
**************/

img {
  width: 100%;
}

figure {
  margin: 0;
}

#profile {
  width: 70%;
  margin-bottom: 2rem;
}

.icon {
  width: 1.5rem;
  margin-top: 0.625rem;
  margin-right: 1.5rem;
}

.arrow {
  width: 1.2rem;
  margin-left: 0.4rem;
}

.imgBorder {
  border: 1px solid #aaa;
}

.inlineImage {
  margin-bottom: 2rem;
}




/**************
	RESPONSIVE
**************/

@media (max-width: 1200px) {
  header, footer, .block60 {
    width: 80vw;
  }

  .block40 {
    width: 60vw;
  }
}

@media (max-width: 768px) {

  .block40 {
    width: 80vw;
  }

  .blockFlex {
    flex-direction: column;
  }
  
  header {
    flex-direction: column;
    margin: 2rem auto;
  }
  #logoContainer {
    display: flex;
    justify-content: center;
  }
  #navbar ul {
    justify-content: center;
  }
  nav li:last-child {
    padding-right: 2rem;
  }

  .left40, .right60 {
    width: 80vw;
    margin-bottom: 2rem;
  }


  #tldrBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon {
    margin: 0.625rem 1rem;
  }

  .overviewBlock {
    flex-direction: column;
  }
  .twoThirdBlock, .thirdBlock {
    width: 80vw;
  }

  #outlineBlock {
    display: none;
  }

  .sectionBlock {
    padding: 3rem 20vw;
  }

  .imageDuo, .imageTrio {
    display: flex;
    flex-direction: column;
  }
  figure {
    margin-bottom: 1rem;
  }

  .leftText {
    padding-right: 0;
  }

  .subtext, .overviewText, .leftText {
    margin-bottom: 1rem;
    line-height: 1.6rem;
  }
  h1 {
    margin-bottom: 1rem;
  }
}